name: Release
on:
  push:
    branches:
      - main
jobs:
  pages:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      CI: true

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.7'
    - name: Install dependencies
      run: bundle install
    - name: Build pages
      run: bundle exec yard doc lib/**/*.rb
    - uses: actions/upload-pages-artifact@v3
      with:
        path: doc/
    - uses: actions/deploy-pages@v4
  "Increment-Version":
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
      - run: git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - run: git config user.name "$GITHUB_ACTOR"
      - run: echo OLD_VERSION=$(ruby -e "require_relative('lib/version'); puts current_version") >> $GITHUB_ENV
      - run: echo NEW_VERSION=$(ruby -e "require_relative('lib/version'); puts increment_version(current_version)") >> $GITHUB_ENV
      - run: echo "${OLD_VERSION} -> ${NEW_VERSION}"
      - run: echo ${NEW_VERSION} > .version
      - name: Update version
        uses: test-room-7/action-update-file@v1
        with:
          file-path: .version
          commit-msg: "[skip ci] Update resources"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build Gem"
        run: gem build
      - name: Setup Rubygems credentials
        run: echo GEM_HOST_API_KEY=${{ secrets.RUBYGEMS_API_KEY }} >> $GITHUB_ENV
      - run: gem push *.gem
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.NEW_VERSION }}
          name: Release v${{ env.NEW_VERSION }}
          body: |
            Release version ${{ env.NEW_VERSION }}

            **Full Changelog**: https://github.com/${{ github.repository }}/compare/v${{ env.OLD_VERSION }}...v${{ env.NEW_VERSION }}
          draft: false
          prerelease: false
          make_latest: true
          files: |
            *.gem
